.logo img{
    padding: 20px;
    border-radius: 50%;
    width: 200px;
}

.navbar-title {
    font-size: 50px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f8f9fa;
    width: 100%;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease;
    margin: 0 10px;
}

.navbar-link:hover {
    background-color: #866504;
}

.link-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: #EF841A;
}